
header {
overflow: hidden;
background: white;
padding: 12px 0;
}


.sokruta label {
display: none;
}


.sokruta input {
flex: 1;
padding: 10px 12px;
border: none;
outline: none;
font-size: 16px;
}


.sokruta button {
background: #98a2b0;
color: white;
padding: 10px 16px;
border: none;
font-size: 18px;
cursor: pointer;
}


.sokruta button:hover {
background: #ac3db6;
}
</style>