.sec-ett{ 
    display: inline-block; 
    margin: 10px; 
    background-color: rgb(33, 139, 56); 
    margin-bottom: 10px; 
} 

.sec-ett h2{ 
    display: flex; 
    justify-content: center; 
} 

.sec-ett a{ 
    display: flex; 
    justify-content: center; 
} 

.sec-ett article { 
display: inline-block;        /* tillåter flera kort i rad och centrering */
    vertical-align: top;
    width: 30%;                   /* tre i rad på större skärmar */
    margin: 12px 1.5%;            /* mellanrum mellan korten */
    background: #e61e1e;
    border: 3px solid #000;
    border-radius: 14px;
    padding: 22px 18px;
    box-sizing: border-box;
    text-align: center;        
} 

.sec-ett img {
    display: block;               /* viktig: block så margin auto funkar */
    margin: 0 auto 14px auto;     /* centrerar och ger space under bilden */
    width: 50%;                   /* justera storlek på bilden */
    max-width: 160px;
    height: auto;
    border-radius: 50%;
}



/*sektion två*/
.sec-tva{
    margin: 25px;
    background-color: blueviolet;
}

/*datum för artiklarna*/
.datum{
    font-size: 12px;
    color: grey;
}

/*footer*/
footer{
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    border-top: 3px solid black;
}

footer section {
    width: 25%;
}

footer h4{
    margin-bottom: 10px;
    font-size: 20px;
}

.hjalp-lank, .ftr-kontakt{
    display: block;
    margin-bottom: 8px;
}

.socialamedier img{
    width: 45px;
}

